body{
    font-family: 'Acme', sans-serif;
}
.resume-outline{
    display: grid;
   grid-template-columns: 4fr 2fr 2fr 1fr;
    grid-row-gap:10px;
    grid-column-gap: 10px;
    grid-template-areas:
    "res-header  res-header  res-header res-header"
    "job-att job-att job-att job-att"
    "edu-att edu-att edu-att edu-att"
    "skill-att skill-att skill-att skill-att"
   "skill-list skill-list skill-list skill-list";
}
.Resume_header{
    grid-area: res-header;
    font-size: 20px;
  //  text-indent: 50px;
    text-align: center;
    height: auto;
    background-color: rgb(223, 178, 223);
    color: #000;
}
.resume-name{
    grid-area: res-header;
    font-size: 30px;
    text-align: center;
    background-color: rgb(223, 178, 223);
    color: #000;
}
.job-list{
    grid-area: job-att;
    text-align: center;
    // padding-right: 5%;  
    // padding-left:5% 
}
.education-list{
    grid-area: edu-att;
    text-align: center;
    // padding-right: 5%;  
    // padding-left:5% 
}
.skill-list{
    grid-area: skill-att;
    text-align: center;
    // padding-right: 5%;  
    // padding-left:5% 
}
.gitPic img{
    width:10%;
    height: auto;
    float: center;
    padding-left:30px;
    margin-left: 20px;
}
.gitPic img:hover{
    transform: scale(1.09);
    transition: transform 0.3s ease;
}
.linkIn img{
    width:10%;
    float: center;
    height: auto;
    padding-left: 2rem;
}
.linkIn img:hover{
    transform: scale(1.09);
    transition: transform 0.3s ease;
}