

.Resume_header{
    font-size: 20px;
    text-indent: 50px;
    text-align: left;
    background-color: rgb(223, 178, 223);
    color: #000;
}
.resume-name{
    font-size: 30px;
    text-align: left;
    background-color: rgb(223, 178, 223);
  color: #000;
}
.Job{
    text-align: left;
    padding-right: 5%;  
    padding-left:5% 
}
.Education{
    text-align: left;
    padding-right: 5%;  
    padding-left:5% 
}
.Skill{
    text-align: left;
    padding-right: 5%;  
    padding-left:5% 
}

/*.resume-name{
    font-size: 20px;
    text-align: left
}
.email-address{
    font-size: 20px;
    text-align: left
}
.phone-number{
    font-size: 20px;
    text-align: left
}*//*.job-discript{
    font-size: 20px;
    text-align: left
}
.start{
    font-size: 20px;
    text-align: left
}
.end{
    font-size: 20px;
    text-align: left
}
.Highschool{
    font-size: 20px;
    text-align: left
}
.College{
    font-size: 20px;
    text-align: left
}
.Continue{
    font-size: 20px;
    text-align: left
}
.Course{
    font-size: 20px;
    text-align: left
}
.Code{
    font-size: 20px;
    text-align: left
}
.Speak{
    font-size: 20px;
    text-align: left
}
.Quality{
    font-size: 20px;
    text-align: left
}*/