@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&display=swap');

$blue: rgb(72, 31, 112);
$orange:rgb(133, 24, 47);

$maxWidth: 1200px;
$contentWidth: 500px;

$main-font: 'Montserrat', sans-serif;
